
.inp-box{
    padding: 5px 0px;
}

.lable-sty{
    font-size: 13px;
    margin-bottom: 3px;
    color: black;
}

.inp-field{
    margin-bottom: 5px;
    padding: 3px 6px;
    font-size: 14px;
    color: #3e4152;
    outline: none;
    border: 1px solid #3e4152;
    border-radius: 2px;
}

.inp-field::focus{
   outline: none;
}